# Clangd
.clangd

# uv2csolution generated log file
uv2csolution.log

# CMSIS Solution files and folders not to be tracked
# default directory of build artifacts
**/out
# directory containing intermediate files to be regenerated
**/tmp

# Update config files must be merged before commit
*.update@*

# cbuild output files
*.cbuild.yml
*.cbuild-idx.yml
*.cbuild-run.yml

# legacy intermediate project file
*.cprj